*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px; 
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
    width: 100%;
}

/* SECCIÓN HEADER */
.encabezado {
    background: navy;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1000;
}

/* SECCIÓN NAVEGACIÓN */
.navegacion {
    background: navy;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 15px rgba(255, 248, 220, 0.2);
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: cornsilk;
    transition: 0.3s;
}

nav a:hover { 
    color: dodgerblue; 
}

.boton {
    display: inline-block;
    padding: 15px 40px;
    background: transparent;
    color: navy;
    border: 2px solid navy;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s ease;
    margin-top: 20px;
}

.boton:hover {
    color: white;
    background-color: navy;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 128, 0.2);
}
/* SECCIÓN PRESENTACIÓN */
.presentacion {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
    background: linear-gradient(135deg, #e6e4e4 0%, #d6d3d3 100%);
}

.saludo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}

.minombre { 
    font-size: 50px; 
    color: navy; 
    margin-bottom: 25px; 
}

.hola { 
    font-size: 40px; 
    color: dodgerblue; 
}

.presentacion img { 
    width: 300px; 
    height: auto; 
}

/* SECCIÓN CONOCIMIENTO*/
.conocimientos {
    width: 100%;
    padding: 100px 5%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 4px solid navy;
}

.titulo-conocimiento{
    font-size: 42px;
    color: navy;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.titulo-conocimiento::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: dodgerblue;
}

.texto-conocimiento{
    margin-bottom: 80px;
    line-height: 1.8;
}

.habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px auto 0;
}

.habilidad {
    width: 100%;
    padding: 60px 40px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}

.habilidad:hover { 
    transform: translateY(-10px); 
}

.habilidad img { 
    max-width: 120px; 
    height: 120px;
    display: block;
    margin-bottom: 25px;
    aspect-ratio: 16/9; 
    object-fit: contain; 
}

.habilidad p { 
    width: 100%;
    padding: 20px; 
    background: navy; 
    color: white; 
    font-size: 18px; 
}

/* SECCIÓN CITA */
.frase {
    padding: 100px 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cita { 
    max-width: 700px; 
    font-style: italic; 
    font-size: 22px; 
    line-height: 1.6; 
}

.span{
    max-width: 700px; 
    font-style: italic; 
    font-size: 22px; 
    line-height: 1.6; 
}

/* SECCIÓN PROYECTOS */
.proyectos {
    width: 100%;
    padding: 100px 5%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 4px solid navy;
}

.titulo-proyectos{
    font-size: 42px;
    color: navy;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.titulo-proyectos::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: dodgerblue;
}

.texto-proyectos{
    margin-bottom: 80px;
    line-height: 1.8;
}

.mis-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px auto 0;
}

.proyecto {
    width: 100%;
    background: white;
    padding: 60px 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}

.proyecto:hover { 
    transform: translateY(-10px); 
}

.proyecto img { 
    width: 120px; 
    height: 120px;
    margin-bottom: 25px;
    display: block;    
    aspect-ratio: 16/9; 
    object-fit: contain; 
}

.proyecto h3 { 
    width: 100%;
    text-align: center;
    padding: 25px; 
    background: navy; 
    color: white; 
    font-size: 20px; 
}

/*SECCIÓN CONTACTO*/
.contacto {
    padding: 100px 10%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 80px; 
}

.contactame{
    font-size: 42px;
    color: navy;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.contactame::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: dodgerblue;
}

.contenedor-contacto {
    flex: 1;
    min-width: 300px;
}

.redes { 
    list-style: none; 
    margin-top: 30px; 
}

.redes a { 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: #333; 
    margin-bottom: 15px; 
}

.redes a img { 
    width: 40px; 
    margin-right: 15px; 
}

/*SECCIÓN ESCRIBIME*/
.escribir {
    padding: 100px 10%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 80px; 
}

.escribime{
    font-size: 42px;
    color: navy;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.escribime::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: dodgerblue;
}


.division-escribime{
    flex: 1;
    min-width: 300px;
}
.form-escribime {
    width: 100%;
    padding: 40px;
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.boton-escribime {
    padding: 15px;
    background: navy;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.boton-escribime:hover { 
    background: dodgerblue; 
}

/* SECCIÓN FOOTER */
.footer {
    background: navy;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.footer-redes a img {
    width: 35px;
    filter: brightness(0) invert(1);
    margin: 0 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contacto { 
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 50px; 
    }
    .saludo { 
        flex-direction: column-reverse; 
        text-align: center; 
    }
    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conocimientos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .habilidades{
        grid-template-columns: 1fr;
        gap: 25px;
        width: 90%;
        margin: 30px auto;
    }
    .habilidad{
        max-width: 100%;
    }
    .mis-proyectos{
        grid-template-columns: 1fr;
        gap: 25px;
        width: 90%;
        margin: 30px auto;
    }
    .proyecto{
        max-width: 100%;
    }
    nav {
        padding: 7px 7px;
    }
    nav a{
        padding: 5px 5px;
        font-size: 12px;
    }
    .texto-conocimiento{
        padding: 40px 5%;
    }
    .texto-proyectos{
        padding: 40px 5%;
    }
}